

 @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

 
body{
    top: 0;
    left: 0;
    font-family: 'Space Mono', monospace;
    background-color:grey;
    margin: 10px;
    width:750px;
    overflow-x: hidden;
    color:#ffffff;
}

.textcolor{
    color:#ffffff;

}

.h{
    position: absolute;
    text-align: left;
    line-height: 40px;
    z-index:5;
    left:99px;
    top:329px;
    font-size: 28px;
    letter-spacing: -0.08px;
}

.title{
    font-size: 35px;

}


.container{
    max-width:100vw;
    overflow:hidden;
    overflow-y: hidden;
}

/* .shape{
    border: 10px solid rgb(0, 0, 0);
}

.shape-1 {
    shape-outside: square(100px 200px at 50% 50%);
    width: 420px;
    height: 110px;
    float: right;
    background-color: lighten(rgb(0, 0, 0), 60);
  }
.shape-2{
    shape-outside: square(100px 200px at 50% 50%);
    width: 60px;
    height: 270px;
    float: left;
    background-color: lighten(rgb(0, 0, 0), 60);
    margin-top: 120px;
    color:#000000
} */


/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 220px;
    height: 20px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    /* border-radius: 10px; */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; }

/* CUSTOM TEXT SELECTION */
::selection {
    color: rgb(46, 46, 46);
    /* background: #000000; */
    text-shadow: 0.5px 0.5px 1px #7c7c7c;
}

head{
    font-family: 'Courier New', Courier, monospace;
}

/* .container{
    display:flex;
    height: 400px;
    flex-wrap: wrap;
    justify-content:center;
  
    
    
} */

.box{
    /* flex-grow: 1; */
    /* height: 100px; */
    background-color: rgb(0, 0, 0);
    width: 40%;
    /* height: 100px; */
    margin: 1px;
    /* padding-bottom: 32%; */
    /* margin-bottom: 2%; */
    /* position: relative; */
    
}
/* .box{ width: 40%;}
.box-2{ width: 40%;}
.box-3{ width: 40%;}
.box-4{ width: 40%;}
.box-5{ width: 40%;}  */

.box{
    box-shadow:20px 20px 20px #ff4848;
}

.boxcolor{
    background-color: #000;
}
.boxcolor:hover {
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(41, 41, 41);
  }

.box-1{
    left:54px;
    top:0;
    width:418px;
    height:599px;
    z-index: 0;
    position: absolute;
    
   
}
.box-2{
    left:329px;
    top:28px;
    width:586px;
    height:366px;
    z-index: 0;
    position: absolute;
 
   
}
.box-3{
    left:644px;
    top:0px;
    width:456px;
    height:374px;
    z-index: 0;
    position: absolute;

}
.box-4{
    left:0px;
    top:166px;
    width:566px;
    height:786px;
    z-index: 0;
    position: absolute;

}
.box-5{
    left:273px;
    top:366px;
    width:586px;
    height:561px;
    z-index: 0;
    position: absolute;
    background-color: #000;
   
}
.box-6{
    left:724px;
    top:533px;
    width:135px;
    height:419px;
    z-index: 0;
    position: absolute;
    background-color: #000;
    
}
.box-7{
    left:29px;
    top:969px;
    width:234px;
    height:232px;
    z-index: 0;
    position: absolute;
    background-color: #000;
}

.box-8{
    left:263px;
    top:969px;
    width:100px;
    height:323px;
    z-index: 0;
    position: absolute;
    background-color: #000;
   
}

.box-9{
    left:347px;
    top:950px;
    width:752px;
    height:625px;
    z-index: 0;
    position: absolute;
    background-color: #000;
  
}
.box-10{
    left:347px;
    top:1463px;
    width:194px;
    height:219px;
    z-index: 0;
    position: absolute;
    background-color: #000;
  
}
.box-11{
    left:703px;
    top:1463px;
    width:396px;
    height:219px;
    z-index: 0;
    position: absolute;
    background-color: #000;
   
}
.box-12{
    left:0px;
    top:1678px;
    width:485px;
    height:749px;
    z-index: 0;
    position: absolute;
    background-color: #000;
   
}
.box-13{
    left:421px;
    top:1707px;
    width:257px;
    height:427px;
    z-index: 0;
    position: absolute;
    background-color: #000;
    
}
.box-14{
    left:605px;
    top:1674px;
    width:495px;
    height:440px;
    z-index: 0;
    position: absolute;
    background-color: #000;
 
}
.box-15{
    left:292px;
    top:1948px;
    width:px;
    height:px;
    z-index: 0;
    position: absolute;
    background-color: #000;
  
}
.box-16{
    left:472px;
    top:2201px;
    width:550px;
    height:581px;
    z-index: 0;
    position: absolute;
    background-color: #000;
 
}.box-17{
    left:903px;
    top:2348px;
    width:196px;
    height:145px;
    z-index: 0;
    position: absolute;
    background-color: #000;
   
}.box-18{
    left:0px;
    top:2369px;
    width:536px;
    height:581px;
    z-index: 0;
    position: absolute;
    background-color: #000;
  
}.box-19{
    left:450px;
    top:2706px;
    width:226px;
    height:145px;
    z-index: 0;
    position: absolute;
    background-color: #000;
  
}.box-22{
    left:620px;
    top:2482px;
    width:480px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;
 
}.box-23{
    left:28px;
    top:2897px;
    width:1072px;
    height:488px;
    z-index: 0;
    position: absolute;
    background-color: #000;

}.box-24{
    left:0px;
    top:3210px;
    width:853px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;
  
}.box-25{
    left:722px;
    top:3400px;
    width:258px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;
   
}.box-26{
    left:923px;
    top:3418px;
    width:176px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;
    
}.box-27{
    left:292px;
    top:3843px;
    width:764px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;
   
}.box-28{
    left:0px;
    top:4008px;
    width:1100px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;
}
.box-29{
    left:176px;
    top:4230px;
    width:308px;
    height:493px;
    z-index: 0;
    position: absolute;
    background-color: #000;

}
.box-30{
    left:318px;
    top:4321px;
    width:608px;
    height:369px;
    z-index: 0;
    position: absolute;
    background-color: #000;
 
}
.box-31{
    left:904px;
    top:4278px;
    width:196px;
    height:442px;
    z-index: 0;
    position: absolute;
    background-color: #000;
 
}
.box-32{
    left:249px;
    top: 4378px;
    width:176px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;

}
.box-33{
    left:947px;
    top:4377px;
    width:109px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;
 
}
.box-34{
    left:0px;
    top:4820px;
    width:1100px;
    height:216px;
    z-index: 0;
    position: absolute;
    background-color: #000;
 
}
.box-35{
    left:0px;
    top:4754px;
    width:1100px;
    height:469px;
    z-index: 0;
    position: absolute;
    background-color: #000;

}
.box-36{
    left:0px;
    top:4713px;
    width:185px;
    height:416px;
    z-index: 0;
    position: absolute;
    background-color: #000;
 
}
.text:active {
    color:rgb(53, 53, 53);
    text-shadow: 0 1px rgb(0, 0, 0);
    transform: translateY(2px);
  }

.text{
    z-index: 100;
    font-size: 12px;
    line-height: 15px;
}
.text-1{
    left:275px;
    top:70px;
    position: absolute;
    width: 750px;
}
.text-2{
    left:40px;
    top:599px;
    position: absolute;
    width: 600px;

}
.text-3{
    left:500px;
    top:990px;
    position: absolute;
    width: 500px;


}
.text-4{
    left:758px;
    top:1514px;
    position: absolute;
    width: 300px;

}
.text-5{
    left:46px;
    top:1950px;
    position: absolute;
    width: 900px;

}
.text-6{
    left:40px;
    top:2250px;
    position: absolute;
    width: 500px;

}
.text-7{
    left:40px;
    top:2360px;
    position: absolute;
    width: 500px;

}
.text-8{
    left:600px;
    top:2250px;
    position: absolute;
    width: 300px;

}
.text-9{
    left:275px;
    top:3158px;
    position: absolute;
    width: 760px;

}

.text-10{
    left:40px;
    top:3358px;
    position: absolute;
    width: 500px;


}
.text-11{
    left:800px;
    top:3780px;
    position: absolute;
    width: 210px;

}
.text-12{
    left:240px;
    top:4430px;
    position: absolute;
    width: 500px;

}

.text-14{
    left:px;
    top:4200px;
    position: absolute;

}
.text-15{
    left:px;
    top:4400px;
    position: absolute;

}
.text-16{
    left:px;
    top:px;
    position: absolute;

}
.text-17{
    left:px;
    top:px;
    position: absolute;

}

@media only screen and (max-width: 1300px) {
    body {
      color:rgb(255, 255, 255);
      background-color: rgb(73, 73, 73);
    }
    .boxcolor{
        background: white;
    }
    .textcolor
    {
        color:rgb(0, 0, 0);
    

    }
  }