@font-face {
  font-family: "NeueMetana-Regular";
  src: url("./Resources/NeueMetana-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

.LeftBox {
  width: 30%;
  font-family: NeueMetana-Regular;
  height: 100%;
  z-index: 999;
  position: absolute;
  background: rgb(243 239 236)
}

#RightBox {
  width: calc(100% - 30%);
  height: 100%;
  background-color: rgb(51, 51, 51);
  margin-left:30%;
}

img {
  -webkit-user-drag: none;
  width: 100%;
  height: 100%;
}

.ImgItem {
  position: absolute;
}

.menuBox {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.classifyItem {
  min-width: 65px;
  font-size: 24px;
  display: inline-block;
  height: 45px;
  border-radius: 100px;
  border: 1px black solid;
  text-align: center;
  line-height: 45px;
  margin: 10px 10px;
  padding: 0 10px;
  cursor: pointer;
}

.classifyBox {
  box-sizing: border-box;
}

.classifyItem:hover {
  background-color: rgb(220, 220, 202);
}

.classifyBoxHover {
  min-width: 65px;
  font-size: 24px;
  display: inline-block;
  height: 45px;
  border-radius: 100px;
  border: 1px black solid;
  text-align: center;
  line-height: 45px;
  margin: 10px 10px;
  padding: 0 10px;
  cursor: pointer;
  background-color: rgb(220, 220, 202);
}

.btn {
  cursor: pointer;
}

.searchBtn {
  float: right;
  width: 80px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid black;
  margin-top: 35px;
}

body,
html,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.context{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.navigation,
.shang,
.zhong,
.xia {
  width: 90%;
  margin: auto;
  height: 100px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.shang {
  height: 30%;
  display: flex;
}

.zhong {
  height: 12%;
  display: flex
}

.xia {
  height: 30%;
  box-sizing: border-box;
  padding: 20px 50px 20px 0;
  overflow: auto;
}

.shangLeft {
  width: 30%;
  height: 100%;
}

.shangRight {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 50px 20px 0;
  overflow: auto;
}

.title {
  font-size: 8rem;
}

.shangRight-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.shangRight-text {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.zhongLeft {
  margin-top: 20px;
  font-size: 2rem;
  font-family: NeueMetana-Regular;
  margin-right: 50px;
}

.zhongRight {
  margin-top: 20px;
  font-size: 1.3rem;
}