<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <script src="./Resources/js/vue.min.js"></script>
  <script src="./Resources/js/jquery.min.js"></script>
  <link rel="stylesheet" href="./Resources/NeueMetana-Regular.woff">
  <link rel="stylesheet" href="./Resources/font/demo.css">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div class="LeftBox">
      <div class="menuBox">
        <div class="btn" @click="()=>{showthemes=!showthemes;liftimg=!showthemes}"><span class="classifyItem">Catergory</span> </div>
        <div class="btn"><a style="color:rgb(0, 0, 0);text-decoration:none;" class="classifyItem"  href="history.html">About</a></div>
      </div>
      <div style="
      height: 70px;
      position: absolute;" class="classifyBox" v-show="showthemes">
        <span @click="themesclick(i)" :class="classifyDataClick.indexOf(item)>-1?'classifyBoxHover':'classifyItem'"
          v-for="(item,i) in classifyData">{{item}}</span>
      </div>
      <div  v-show="liftimg"
        style=" display: flex; justify-content: center; height: calc(100% - 280px);align-content: center;flex-direction: column;align-items: center;">
        <span v-show="baseImgShow"  style=" position: absolute;
        display: inline-block;
        font-size: 3.5rem;
        width: 3.5rem;">
          {{nowdata?nowdata.fields["Notes 2"]:""}}
        </span>
        <img class="leftimg" ref="leftImg" @mouseover="mouseOver" @mouseleave="mouseLeave" v-if="baseImg"
          :style="baseImgStyle" :src="baseImg" alt="">
      </div>

      <div style="
     height: 130px;
     position: absolute;
     bottom: 3rem;" v-show="showthemes">
        <span @click="showComposition=!showComposition" class="classifyItem">Composition</span>
        <div class="classifyBox" v-show="showComposition">
          <span @click="compositionclick(item)"
            :class="compositionClicks.indexOf(item)>-1?'classifyBoxHover':'classifyItem'"
            v-for="(item,i) in composition">{{item}}</span>
        </div>
      </div>
    </div>
    <div id="RightBox">
      <img class="ImgItem" :key="i" v-for="(item,i) in data" :src="firstImg(item.fields.img)"
        :style="imgstyle(item.fields.img)" alt="">
    </div>
  </div>
</body>
<script type="text/javascript">
  function hyAjax(url, data, onSuccess, onError) {
    const xhr = new XMLHttpRequest();
    xhr.open(data == undefined || JSON.stringify(data) == "{}" ? 'GET' : 'POST', url);
    xhr.setRequestHeader('content-type', 'application/json');
    xhr.responseType = 'json';
    xhr.send(JSON.stringify(data));
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status >= 200 && xhr.status < 300) {
          onSuccess(xhr.response);
        }
        else if (xhr.status >= 400) {
          if (onError != undefined) {
            onError(xhr.response);
          }
          throw new Error("请求异常")
        }
      }
    };
  };
  var app = new Vue({
    el: '#app',
    data: {
      showthemes: false,
      liftimg:false,
      showComposition: false,
      baseImg: "",
      baseImgShow: false,
      nowdata: void (0),
      dataBase: [],
      composition: [],
      baseImgStyle: [],
      classifyData: [],
      classifyDataClick: [],
      compositionClicks: [],
      data: [],
      imgSetInterval: 0
    },
    mounted() {
      this.dataList()
    },
    methods: {
        showthemes() {

        },
        mouseOver() {
          let el = this.$refs.leftImg
          el.style.opacity = 1;
          window.limg = setInterval(() => {
            if (el.style.opacity < 0.2) {
              if(this.liftimg)
              this.baseImgShow = true;
              clearInterval(window.limg)
            }
            el.style.opacity = el.style.opacity - 0.01;
          }, 10)
        },
        mouseLeave() {
        this.baseImgShow = false;
        clearInterval(window.limg)
        let el = this.$refs.leftImg
        el.style.opacity = "1";
      },
        themesclick(index) {
        let themes = this.classifyData[index];
        if (this.classifyDataClick.indexOf(themes) == -1)
          this.classifyDataClick.push(themes);
        else
          this.classifyDataClick = this.classifyDataClick.filter(item => item != themes);
          let res = []
        this.classifyDataClick.forEach(d => {
          res = res.concat(this.dataBase.filter(s => s.fields.Theme).filter(s => s.fields.Theme.indexOf(d) > -1))
        });
        if (this.classifyDataClick.length == 0) 
          res = this.dataBase
        let res1 = []
          this.compositionClicks.forEach(d => {
            res1 = res1.concat(res.filter(s => s.fields.Composition).filter(s => s.fields.Composition.indexOf(d) > -1))
          });
        if (this.compositionClicks.length == 0)
          res1=res;
          this.data = res1;
        setTimeout(this.imgLocation, 2000)
      },
        compositionclick(index) {
        if (this.compositionClicks.indexOf(index) == -1)
          this.compositionClicks.push(index);
        else
          this.compositionClicks = this.compositionClicks.filter(item => item != index);
        let res = []
        this.classifyDataClick.forEach(d => {
          res = res.concat(this.dataBase.filter(s => s.fields.Theme).filter(s => s.fields.Theme.indexOf(d) > -1))
        });
        if (this.classifyDataClick.length == 0) 
          res = this.dataBase
        let res1 = []
          this.compositionClicks.forEach(d => {
            res1 = res1.concat(res.filter(s => s.fields.Composition).filter(s => s.fields.Composition.indexOf(d) > -1))
          });
        if (this.compositionClicks.length == 0)
          res1=res;
          this.data = res1;

          setTimeout(this.imgLocation, 2000)
        },
        imgstyle(obj) {
          let number = 8;
          if (obj[0].Info)
            return obj[0].Info;
          let data = {
            width: obj[0].width / number + 'px',
            height: obj[0].height / number + 'px',
            left: this.randomleft(),
            top: this.randomTop(),
          }
          obj[0].Info = data;
          return data;
        },
        randomTop: function () {
          var h = document.body;
          var height = (h.clientHeight || h.offsetHeight) - 500;
          const top = parseInt(Math.random() * (height - 1 + 1) + 1);
          return top + 'px'
        },
        // 随机位置left
        randomleft: function () {
          var width1=window.innerWidth * 0.3
          var w = document.body;
          var width = (w.clientWidth || w.offsetWidth) - 250;
          const left = parseInt(Math.random() * (width - width1 + 1) + width1);
          return left + 'px'
        },
        firstImg(obj) {
          if (obj == undefined || obj.length == 0) {
            return
          } else {
            return obj[0].url
          }
        },
        dataList() {
          var that = this
          hyAjax('http://airtableserve.com.vaiwan.com/TableData?tablename=Table 1', {},
            function onSuccess(res) {
              let Themes = [], com = [];
              for (const item of res) {
                if (item.fields.Theme != undefined)
                  Themes = Themes.concat(item.fields.Theme)
                if (item.fields.Composition != undefined)
                  com = com.concat(item.fields.Composition)
              }
              Themes = Array.from(new Set(Themes))
              com = Array.from(new Set(com))
              that.classifyData = Themes;
              that.dataBase = res.filter(item => item.fields.img);
              that.data = that.dataBase.slice(0, 10)
              that.composition = com;
              setTimeout(that.imgLocation, 2000)
            })
        },
        icon() {

        },
        imgLocation() {
          let vuedata = this;
          var ImgItems = document.getElementsByClassName("ImgItem");
          for (let i = 0; i < ImgItems.length; i++) {
            // 拖拽事件
            ImgItems[i].onmousedown = function (event) {
              let move = false;

              var ol = event.clientX - ImgItems[i].offsetLeft;
              var ot = event.clientY - ImgItems[i].offsetTop;
              /*鼠标移动*/
              document.onmousemove = function (event1) {
                if (event.clientX != event1.clientX
                  || event.clientY != event1.clientY)
                  move = true;
                var left = event1.clientX - ol;
                var top = event1.clientY - ot;
                ImgItems[i].style.left = left + "px";/*赋值*/
                ImgItems[i].style.top = top + "px";
              }
              /*鼠标松开*/
              document.onmouseup = function (event2) {
                document.onmousemove = null;
                document.onmouseup = null;
                if (!move) {//触发点击事件
                  vuedata.baseImg = vuedata.data[i].fields.img[0].url
                  vuedata.nowdata = vuedata.data[i]
                  vuedata.showthemes=false
                  vuedata.liftimg=true
                  let number = 8;
                  vuedata.baseImgStyle = {
                    width: vuedata.data[i].fields.img[0].width / number + 'px',
                    height: vuedata.data[i].fields.img[0].height / number + 'px',
                  }
                }
              }
            }
          }
        }
      },
    })
</script>
<style>
  body,
  html,
  #app {
    display: flex;
  }
</style>

</html>